.dashboard {
    &__title {
        margin-bottom: 30px;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 600;
    }
    &__statistical {
        &__item {
            cursor: pointer;
            padding: 10px 20px;
            @include flex(center, flex-start);
            background-color: $main-bg-ad;
            box-shadow: $box-shadow;
            border-radius: $border-radius;
            position: relative;
            overflow: hidden;
            transition: all 0.8s ease;
            &__icon {
                z-index: 1;
                width: 30%;
                height: 100%;
                font-size: 3rem;
                @include flex(center, center);
            }
            &__info {
                z-index: 1;
                flex-grow: 1;
                text-align: center;
                h4 {
                    font-size: 2.4rem;
                    margin-bottom: 10px;
                }
                span {
                    font-size: 1.6rem;
                }
            }
            &::before {
                content: '';
                background-color: $main-color;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                transform: translateX(-100%);
                transition: all 0.8s ease;
            }
            &:hover {
                color: $txt-white-ad;
            }
            &:hover::before {
                transform: translateX(0);
            }
        }
    }
    &__table {
        margin-top: 40px;
        &__item {
            overflow-y: auto;
            box-shadow: $box-shadow;
            border-radius: $border-radius;
            padding: 20px;
            &__title {
                font-size: 1.8rem;
                font-weight: 600;
            }
            table {
                overflow-y: auto;
                width: 100%;
                border-collapse: collapse;
                margin-top: 20px;
                thead {
                    background-color: $main-bg-ad;
                    th {
                        text-align: left;
                        font-size: 1.4rem;
                        padding: 14px 10px;
                    }
                }
                tbody {
                    tr {
                        text-align: left;
                        transition: all 0.3s ease;
                        cursor: pointer;
                        &:hover {
                            background-color: $main-color;
                            color: $txt-white-ad;
                        }
                        &:hover img {
                            border: 1px solid $txt-white-ad;
                        }
                        td {
                            padding: 4px 8px;
                            font-size: 1.4rem;
                            img {
                                margin-top: 5px;
                                width: 34px;
                                border-radius: 50%;
                                border: 1px solid $main-color;
                            }
                            span {
                                margin-left: 4px;
                            }
                        }
                    }
                }
            }
            &__link {
                margin-top: 4px;
                font-size: 1.6rem;
                text-align: center;
                &:hover {
                    color: $main-color;
                }
            }
        }
    }
}
