.products {
    margin-top: 140px;
    @include flex(flex-start, flex-start);
    @include tablet {
        margin-top: unset;
        flex-direction: column;
    }
    &__filter {
        width: 20%;
        @include tablet {
            overflow-y: scroll;
            width: max-content;
            height: 100vh;
            background-color: $main-bg;
            padding: 0 34px 0 30px;
            position: fixed;
            left: 0;
            top: $header-tablet-height;
            z-index: 100;
            box-shadow: $box-shadow;
            transform: translateX(-100%);
            transition: all 0.3s ease;
        }
        @include mobile {
            top: $header-mobile-height;
        }
        &__close {
            display: none;
            @include tablet {
                display: block;
                font-size: 3rem;
            }
        }
        &__toggle {
            display: none;
            margin-bottom: 12px;
            @include tablet {
                display: block;
            }
        }
        &.active {
            transform: translateX(0);
        }
        &__search {
            input {
                border: 1px solid $main-color;
                outline: none;
                width: 80%;
                padding: 6px 8px;
                @include tablet {
                    width: 100%;
                }
            }
        }
        &__widget {
            margin-top: 20px;
            margin-bottom: 20px;
            &__title {
                font-size: 1.6rem;
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: 16px;
            }
            &__content {
                color: $text-second-color;
                &__item {
                    font-size: 1.2rem;
                    margin-top: 10px;
                    &__checkbox {
                        @include flex(center, flex-start);
                        cursor: pointer;
                        &:hover {
                            color: $main-color;
                        }
                        input {
                            position: relative;
                            opacity: 0;
                            cursor: pointer;
                            height: 0;
                            width: 0;
                        }
                        &__checkmark {
                            margin-right: 10px;
                            height: 18px;
                            width: 18px;
                            border: 1px solid $text-second-color;
                            i {
                                transform: scale(0);
                                margin-left: 2px;
                                transition: all 0.3s ease;
                            }
                        }
                        input:checked ~ &__checkmark {
                            background-color: $main-color;
                            border: 1px solid $main-color;
                            color: $text-white;
                        }
                        input:checked ~ &__checkmark > i {
                            transform: scale(1);
                        }
                    }
                }
            }
        }
    }
    &__content {
        width: 100%;
        &__sort {
            @include flex(center, flex-end);
            margin-bottom: 32px;
            margin-right: 60px;
            &__title {
                margin-right: 12px;
                font-size: 1.5rem;
            }
            &__select {
                padding: 4px 18px;
                outline: none;
                border: 1px solid $main-color;
            }
            @include mobile {
                margin-right: 4px;
                margin-top: -40px;
            }
        }
    }
}
